$light: #fff;
$dark :#000;
$babyblue: #D9DCF1;
$gray: #BABDCF;
$darkRed: #170307;
$lightGray : #D8D8D8;
$lightGreen : #F3F3FF;
$lightLime: #F2F3FC;
$purple: #9CA2C6;
$lightPurple: #A4AAD0;
$darkPurple: #42415B;
$midgradePurple: #6F759D;
$orange: #F1A153;
$lightOrange: #f1a153b8;

$transparent: rgba(0,0,0,0.4);
